{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 20, 2018{% endblock %}

{% block story %}
  <h2>Call me Ishmael</h2>
  <img src="img/kraken03.jpg" alt="man fighting kraken" class="img-fluid">
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}

