{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 18, 2018{% endblock %}

{% block story %}
  <h2>It was a dark and stormy night</h2>
  <img src="img/kraken01.jpg" alt="kraken and ship" class="img-fluid">
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}
