{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <h1>Ship's Blog</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p>
        This is a blog about some pirate stuff. Join this pirate captain in his journey around the world. Expect daily updates about the life and times of this man on the sea. This doesn't look like enough text but I'm not sure what else to say here. 
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
